@import "tailwindcss";

@font-face {
  font-family: "Source Serif";
  src: local("Georgia");
}

body {
  font-family: "Source Serif 4", Georgia, serif;
}

.font-serif {
  font-family: "Source Serif 4", Georgia, serif;
}

@media print {
  @page {
    size: A4 landscape;
    margin: 1cm 1.2cm;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .no-print {
    display: none !important;
  }
}
